# Analyse the traffic from the city of bonn

In [1]:
import pandas as pd

In [2]:
raw_traffic = pd.read_csv("D:/OpenData.Bonn/traffic/traffic_bonn.csv", header=0, names=["roadsegment_id", "speed", "date", "traffic_state"], sep=",")

In [66]:
def to_traffic_data(raw_traffic):
    raw_times = pd.to_datetime(raw_traffic["date"]).dt.time
    raw_seconds = raw_times.apply(lambda time: 3600*time.hour + 60*time.minute + time.second)
    traffic_data = pd.DataFrame()
    traffic_data["roadsegment_id"] = raw_traffic["roadsegment_id"]
    traffic_data["speed"] = raw_traffic["speed"]
    traffic_data["seconds_of_day"] = raw_seconds
    traffic_data["traffic_category"] = raw_traffic["traffic_state"].apply(lambda traffic_state: 1 if "normales Verkehrsaufkommen" == traffic_state else (2 if "Staugefahr" == traffic_state else 0))
    return traffic_data

In [68]:
traffic_data = to_traffic_data(raw_traffic)
traffic_data.describe()

       roadsegment_id         speed  seconds_of_day  traffic_category
count    3.535405e+06  3.535405e+06    3.535405e+06      3.535405e+06
mean     6.494277e+01  4.142372e+01    4.187560e+04      8.844633e-01
std      4.092744e+01  2.529515e+01    2.601716e+04      3.377761e-01
min      3.000000e+00  0.000000e+00    0.000000e+00      0.000000e+00
25%      3.000000e+01  2.700000e+01    1.920000e+04      1.000000e+00
50%      5.600000e+01  3.900000e+01    3.900000e+04      1.000000e+00
75%      1.000000e+02  5.300000e+01    6.720000e+04      1.000000e+00
max      1.440000e+02  1.290000e+02    8.610000e+04      2.000000e+00

In [46]:
3600*23+60*59

86340

In [50]:
traffic_data

         roadsegment_id  speed  seconds_of_day
0                    17     36            4800
1                    14     33            4800
2                    15     49            4800
3                    18     29            4800
4                    19     26            4800
...                 ...    ...             ...
3535400              46     40           63600
3535401              47     76           63600
3535402              48     78           63600
3535403              37     26           63600
3535404              35     51           63600

[3535405 rows x 3 columns]

In [52]:
raw_traffic["traffic_state"]

count                        3535405
unique                             3
top       normales Verkehrsaufkommen
freq                         3084848
Name: traffic_state, dtype: object

0          1
1          1
2          1
3          1
4          1
          ..
3535400    1
3535401    1
3535402    1
3535403    1
3535404    1
Name: traffic_state, Length: 3535405, dtype: int64